#{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
}
body{
    background-image: url(c:\Users\HP\Downloads\pexels-pixabay-459335.jpg)
    backg
}