* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: url(./imagess/andrew-neel-cckf4TsHAuw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.registration-form {
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin: 20vh auto 0 auto;
  background: linear-gradient(#fff, #e76705);
  padding: 50px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
}
.registration-form h1 {
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
  width: 500px;
}
.registration-form p {
  font-size: 20px;
  margin: 10px 0;
}

.input-box input {
  height: 40px;
  width: 100%;
}

#description {
  height: 40px;
  width: 100%;
}
/* 
.custom-radio input {
  display: none;
}

.custom-radio label ::after {
  display: inline-block;
  width: 10px;
  height: 20px;
  border: 2px solid black;
  background-color: #fff;
  cursor: pointer;
  position: relative;
} */
button {
  padding: 5px 50px;
  background: linear-gradient(#fff, #e76705);
  font-size: large;
}

.popup img {
  color: #e76705;
  width: 70px;
  margin-top: -50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup {
  width: 400px;
  background: linear-gradient(#fff, #e76705);
  border-radius: 6px;
  border: 1px solid #e76705;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
